<form role="form">
  <div class="form-group">
    <label for="sample">URL</label>
    <input type="text" class="form-control" ng-model="config.url" placeholder="Enter url">
  </div>
  <div class="form-group">
    <label for="sample">Root element</label>
    <input type="text" class="form-control" ng-model="config.root" placeholder="Enter name of root element">
  </div>

  <div>
    <label>Columns</label>
  </div>

  <div class="form-inline padding-bottom" ng-repeat="col in vm.config.columns">
    <div class="form-group">
      <label class="sr-only" for="title-{{$index}}">Title</label>
      <input type="text" id="title-{{$index}}" class="form-control" placeholder="Title" ng-model="col.title" required="">
    </div>
    <div class="form-group">
      <label class="sr-only" for="path-{{$index}}">Path</label>
      <input type="text" id="path-{{$index}}" class="form-control" placeholder="Path" ng-model="col.path" required="">
    </div>
    <button type="button" class="btn btn-warning" ng-click="vm.removeColumn($index)">
      <i class="fa fa-minus"></i> Remove
    </button>
  </div>

  <button type="button" class="btn btn-primary" ng-click="vm.addColumn()">
    <i class="fa fa-plus"></i> Add
  </button>

</form>
